html,
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "PT Sans", "Arial", "sans-serif";
	color: #000000;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.page-title {
	font-size: 30px;
	line-height: 42px;
}

.index-subtitle {
	font-size: 30px;
	line-height: 42px;
}

.index-subtitle-feature {
	font-size: 30px;
	line-height: 42px;
	color: #ffffff;
}

.goods-subtitle {
	font-size: 14px;
	line-height: 18px;
}

.product-info-subtitle {
	font-size: 24px;
	line-height: 30px;
}
